</div>
</div>
    <!-- APP-CONTENT END -->
</div>
<!-- PAGE-MAIN END -->



<!-- CHANGE PASSWORD MODAL -->
{% load static %}
<div class="modal fade"  id="changepasswordnmodal">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Change Password</h5>
            <button  class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="form-label">New Password</label>
                <input type="password" class="form-control" placeholder="password" value="">
            </div>
            <div class="form-group">
                <label class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" placeholder="password" value="">
            </div>
        </div>
        <div class="modal-footer">
            <a  href="javascript:void(0);" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</a>
            <a  href="javascript:void(0);" class="btn btn-primary">Confirm</a>
        </div>
    </div>
</div>
</div>
<!-- CHANGE PASSWORD MODAL END-->

<!-- RIGHT-SIDEBAR -->
{% load static %}
<div class="sidebar sidebar-right sidebar-animate">
<div class="card-header border-bottom pb-5">
    <h4 class="card-title">Notifications </h4>
    <div class="card-options">
        <a  href="javascript:void(0);" class="btn btn-sm btn-icon btn-light  text-primary"  data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right"><i class="feather feather-x"></i> </a>
    </div>
</div>
<div class="">
    <div class="list-group-item  align-items-center border-0">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3" style="background-image: url(../../images/users/4.jpg)"></span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Liam <span class="text-muted font-weight-normal">Sent Message</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>30 mins ago</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3" style="background-image: url(../../images/users/10.jpg)"></span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Paul<span class="text-muted font-weight-normal"> commented on you post</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>1 hour ago</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3 bg-pink-transparent"><span class="feather feather-shopping-cart"></span></span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">James<span class="text-muted font-weight-normal"> Order Placed</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>1 day ago</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3" style="background-image: url(../../images/users/9.jpg)">
                <span class="avatar-status bg-green"></span>
            </span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Diane<span class="text-muted font-weight-normal"> New Message Received</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>1 day ago</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3" style="background-image: url(../../images/users/5.jpg)">
                <span class="avatar-status bg-muted"></span>
            </span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Vinny<span class="text-muted font-weight-normal"> shared your post</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>2 days ago</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3 bg-primary-transparent">M</span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Mack<span class="text-muted font-weight-normal"> your admin lanuched</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>1 week ago</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3" style="background-image: url(../../images/users/12.jpg)">
                <span class="avatar-status bg-green"></span>
            </span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Vinny<span class="text-muted font-weight-normal"> shared your post</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>04 Jan 2021 1:56 Am</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3" style="background-image: url(../../images/users/8.jpg)">	</span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Anna<span class="text-muted font-weight-normal"> likes your post</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>25 Dec 2020 11:25 Am</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3" style="background-image: url(../../images/users/14.jpg)">	</span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Kimberly<span class="text-muted font-weight-normal"> Completed one task</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>24 Dec 2020 9:30 Pm</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3" style="background-image: url(../../images/users/3.jpg)">	</span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Rina<span class="text-muted font-weight-normal"> your account has Updated</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>28 Nov 2020 7:16 Am</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group-item  align-items-center  border-bottom">
        <div class="d-flex">
            <span class="avatar avatar-lg brround me-3 bg-success-transparent">J</span>
            <div class="mt-1">
                <a  href="javascript:void(0);" class="font-weight-semibold fs-16">Julia<span class="text-muted font-weight-normal"> Prepare for Presentation</span></a>
                <span class="clearfix"></span>
                <span class="text-muted fs-13 ms-auto"><i class="mdi mdi-clock text-muted me-1"></i>18 Nov 2020 11:55 Am</span>
            </div>
            <div class="ms-auto">
                <a href="" class="me-0 option-dots" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="feather feather-more-horizontal"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" role="menu">
                    <li><a  href="javascript:void(0);"><i class="feather feather-eye me-2"></i>View</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-plus-circle me-2"></i>Add</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-trash-2 me-2"></i>Remove</a></li>
                    <li><a  href="javascript:void(0);"><i class="feather feather-settings me-2"></i>More</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<!-- RIGHT-SIDEBAR END-->

<!-- FOOTER -->

<footer class="footer">
<div class="container">
    <div class="row align-items-center flex-row-reverse">
        <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
            Copyright © 2022 <a  href="javascript:void(0);">Dayone</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a  href="javascript:void(0);">Spruko Technologies Pvt.Ltd</a> All rights reserved.
        </div>
    </div>
</div>
</footer>

<!-- FOOTER END-->

</div>
<!-- PAGE END -->

<!-- SCRIPTS -->
{% load static %}
<!-- BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="feather feather-chevrons-up"></i></a>

<!-- JQUERY JS -->
<script src="../../assets/plugins/jquery/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="../../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- MOMENT JS -->
<script src="../../assets/plugins/moment/moment.js"></script>

<!-- CIRCLE-PROGRESS JS -->
<script src="../../assets/plugins/circle-progress/circle-progress.min.js"></script>

<!-- SIDE-MENU JS -->
<script src="../../assets/plugins/sidemenu/sidemenu.js"></script>

<!-- PERFECT SCROLLBAR JS-->
<script src="../../assets/plugins/p-scrollbar/p-scrollbar.js"></script>
<script src="../../assets/plugins/p-scrollbar/p-scroll1.js"></script>

<!-- SIDERBAR JS -->
<script src="../../assets/plugins/sidebar/sidebar.js"></script>

<!-- SELECT2 JS -->
<script src=" ../../assets/plugins/select2/select2.full.min.js' %} "></script>

<!-- STICKY JS -->
<script src="../../assets/js/sticky.js"></script>



<!-- CUSTOM1 JS -->
<script src="../../js/custom1.js"></script>

<!-- SWITCHER JS -->
<script src="../../switcher/js/switcher.js"></script>

<!-- SCRIPTS END-->

</body>

</html>
