{% load static %}
				<div class="landingmain-header header">
					<div class="horizontal-main landing-header clearfix">
						<div class="horizontal-mainwrapper container clearfix">
							<div class="d-flex">
								<div class="headerlanding-logo">
									<a class="header-brand" href="index">
										<img src="{% static 'assets/images/brand/logo.png'%}" class="header-brand-img desktop-lgo" alt="Dayonelogo">
										<img src="{% static 'assets/images/brand/logo-white.png'%}" class="header-brand-img light-logo" alt="Dayonelogo">
									<img src="{% static 'assets/images/brand/favicon.png'%}" class="header-brand-img mobile-logo" alt="Dayonelogo">
									<img src="{% static 'assets/images/brand/favicon1.png'%}" class="header-brand-img darkmobile-logo" alt="Dayonelogo">
									</a>
								</div>
								<nav class="horizontalMenu clearfix order-lg-2 my-auto ms-auto">
									<ul class="horizontalMenu-list">
										<li>
											<a href="support-landing">Home</a>
										</li>
										<li>
											<a  href="javascript:void(0);" class="sub-icon">Knowledge <span class="fe fe-chevron-down m-0"></span></a>
											<ul class="sub-menu">
												<li><a href="support-knowledge">Knowledge</a></li>
												<li><a href="support-knowledgeview">KnowledgeView</a></li>
											</ul>
										</li>
										<li>
											<a href="support-openticket">Open Ticket</a>
										</li>
										<li>
											<a href="support-contact">Contact Us</a>
										</li>
										<li>
											<a  href="javascript:void(0);" class="sub-icon">Pages<span class="fe fe-chevron-down m-0"></span></a>
											<div class="horizontal-megamenu clearfix">
												<div class="container">
													<div class="mega-menubg">
														<div class="row">
															<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																<ul class="sub-menu">
																	<li><h3 class="mega-subtitle">User Pages</h3></li>
																	<li><a href="support-userdash">Dashboard</a></li>
																	<li><a href="support-editprofile">Edit Profile</a></li>
																	<li><a href="support-ticketlist">Ticket Lists</a></li>
																	<li><a href="support-ticketactive">Active Tickets</a></li>
																	<li><a href="support-ticketclosed">Closed Tickets</a></li>
																	<li><a href="support-ticketview">View Ticket</a></li>
																	<li><a href="support-ticketcreate">Create Ticket</a></li>
																</ul>
															</div>
															<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																<ul class="sub-menu">
																	<li><h3 class="mega-subtitle">Admin Pages</h3></li>
																	<li><a href="support-admindash">Dashboard</a></li>
																	<li><a href="support-admineditprofile">Edit Profile</a></li>
																	<li><a href="support-adminticketlist">Ticket Lists</a></li>
																	<li><a href="support-adminticketactive">Active Tickets</a></li>
																	<li><a href="support-adminticketclosed">Closed Tickets</a></li>
																	<li><a href="support-adminticketview">View Ticket</a></li>
																	<li><a href="support-adminticketnew">New Ticket</a></li>
																</ul>
															</div>
															<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																<ul class="sub-menu mt-lg-7">
																	<li><a href="support-admincustomer">Customers</a></li>
																	<li><a href="support-admincustomerview">CustomersView</a></li>
																	<li><a href="support-admincategories">Categories</a></li>
																	<li><a href="support-adminarticles">Articles</a></li>
																</ul>
															</div>
															<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																<ul class="sub-menu">
																	<li><h3 class="mega-subtitle">Agent Pages</h3></li>
																	<li><a href="support-agentdash">Dashboard</a></li>
																	<li><a href="support-agenteditprofile">Edit Profile</a></li>
																	<li><a href="support-agentticketlist">Ticket List</a></li>
																	<li><a href="support-agentticketactive">Active Tickets</a></li>
																	<li><a href="support-agentticketclosed">Closed Tickets</a></li>
																	<li><a href="support-agentticketview">View Ticket</a></li>
																	<li><a href="support-agentassign">Assigned Categories</a></li>
																</ul>
															</div>
															<div class="col-lg-2 col-md-12 col-xs-12 link-list">
																<ul class="sub-menu">
																	<li><h3 class="mega-subtitle">Other Pages</h3></li>
																	<li><a  href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#loginmodal">Login</a></li>
																	<li><a  href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#registermodal">Register</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<a  href="javascript:void(0);" class="sub-icon">My Dashboard <span class="fe fe-chevron-down m-0"></span></a>
											<ul class="sub-menu">
												<li><a href="support-landing">My Dashboard</a></li>
												<li><a href="support-admineditprofile">Edit Profile</a></li>
												<li><a href="support-adminticketlist">My Tickets</a></li>
												<li><a href="login1">Logout</a></li>
											</ul>
										</li>
										<li>
											<span class="menu-btn">
												<a class="btn btn-success"  href="javascript:void(0);"><i class="fa fa-paper-plane-o "></i> Submit Request</a>
											</span>
										</li>
										<li>
											<span class="menu-btn-switch ms-2">
												<a class="btn btn-primary demo-icon"  href="javascript:void(0);"><i class="feather feather-settings  fe-spin  fs-18"></i></a>
											</span>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
	