{% load static %}
		<!-- JQUERY JS -->
		<script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>

		<!-- BOOTSTRAP JS-->
		<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js'%}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

		<!-- SELECT2 JS -->
		<script src="{% static 'assets/plugins/select2/select2.full.min.js'%}"></script>

		<!-- P-SCROLL JS -->
		<script src="{% static 'assets/plugins/p-scrollbar/p-scrollbar.js'%}"></script>
	
		<!--STICKY JS -->
		<script src="{% static 'assets/js/sticky.js'%}"></script>