
        <!-- FAVICON -->
        <link rel="icon" href="../../assets/images/brand/favicon.ico" type="image/x-icon"/>

        <!-- BOOTSTRAP CSS -->
        <link  href="../../assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" id="style"/>

        <!-- STYLE CSS -->
        <link href="../../assets/css/style.css" rel="stylesheet" />
        <link href="../../assets/css/plugins.css" rel="stylesheet" />

        <!--- ANIMATE CSS -->
        <link href="../../assets/css/animated.css" rel="stylesheet" />

        <!--- ICONS CSS -->
        <link href="../../assets/css/icons.css" rel="stylesheet" />

        