{% extends 'components/custom-base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

		{% block switcher-icon %}
        <div class="page responsive-log login-bg">
        {% endblock %}
        {% block content %}
		<!-- PAGE -->
			<div class="page-single">
				<div class="container">
					<div class="row">
						<div class="col mx-auto">
							<div class="row justify-content-center">
								<div class="col-md-8 col-lg-6 col-xl-4 col-xxl-3">
									<div class="card">
										<div class="card-body">
											<div class="text-center mb-4">
												<span class="avatar avatar-xxl brround" style="background-image: url({% static 'assets/images/users/16.jpg'%})"></span>
											</div>
											<div class="m-4 d-none d-lg-block text-center">
												<h4>Abigali kelly</h4>
											</div>
											<div class="input-group mb-4">
												<div class="input-group" id="Password-toggle">
													<a href="" class="input-group-text">
														<i class="fe fe-eye-off" aria-hidden="true"></i>
													</a>
													<input class="form-control" type="password" placeholder="Password">
												</div>
											</div>
											<a  href="index" class="btn btn-primary btn-block"><i class="fe fe-arrow-right"></i> Unlock</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE -->
        {% endblock %}

		{% block modal %}
			
        {% endblock %}
		
    {% block scripts %}
        <!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
	{% endblock %}