{% extends 'components/base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

        {% block content %}
						<!-- PAGE HEADER -->
                        <div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<div class="page-title">Mapel Maps</div>
							</div>
							<div class="page-rightheader ms-md-auto">
								<div class=" btn-list">
									<button  class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button  class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button  class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<!-- END PAGE HEADER -->

                        <!-- ROW -->
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h4  class="card-title">Map with links between the plotted cities</h4>
									</div>
									<div class="card-body">
										<div class="mapcontainer4">
											<div class="map pt-0">
												<span>Alternative content for the map</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h4 class="card-title">Static Mapel Maps</h4>
									</div>
									<div class="card-body">
										<div class="mapcontainer">
											<div class="map pt-0">
												<span>Alternative content for the map</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h4 class="card-title"> Map with a legend for areas</h4>
									</div>
									<div class="card-body">
										<div class="mapcontainer1">
											<div class="map pt-0">
												<span>Alternative content for the map</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        <!-- END ROW -->
        {% endblock %}

		{% block modal %}
			
        {% endblock %}
		
    {% block scripts %}
		<!-- INTERNAL MAPEL JS -->
        <script src="{% static 'assets/plugins/mapel/raphael.min.js'%}"></script>
		<script src="{% static 'assets/plugins/mapel/jquery.mapael.js'%}"></script>
		<script src="{% static 'assets/plugins/mapel/maps/france_departments.js'%}"></script>
		<script src="{% static 'assets/plugins/mapel/maps/world_countries.js'%}"></script>
		<script src="{% static 'assets/plugins/mapel/maps/usa_states.js'%}"></script>
		<script src="{% static 'assets/js/mapelmaps.js'%}"></script>

        <!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
	{% endblock %}