{% extends 'components/base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

        {% block content %}
						<!-- PAGE HEADER -->
						<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<div class="page-title">Ribbons</div>
							</div>
							<div class="page-rightheader ms-md-auto">
								<div class=" btn-list">
									<button  class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button  class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button  class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<!-- END PAGE HEADER -->

						<!-- ROW -->
						<div class="row">
						<div class="mb-4 fs-16 font-weight-semibold">Ribbons-style-1</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="power-ribbone power-ribbone-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="power-ribbone power-ribbone-bottom-left text-primary"><span class="bg-primary"><i class="fa fa-bolt"></i></span></div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title.  some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="power-ribbone power-ribbone-top-right text-danger"><span class="bg-danger"><i class="fa fa-bolt"></i></span></div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="power-ribbone power-ribbone-bottom-right text-success"><span class="bg-success"><i class="fa fa-bolt"></i></span></div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
						</div>
						<!-- END ROW -->

						<!-- ROW -->
						<div class="row">
							<div class="mb-4 fs-16 font-weight-semibold">Ribbons-style-2</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="ribbone ribbone-top-left text-primary"><span class="bg-primary">sold out</span></div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card  sold-out">
									<div class="ribbone ribbone-top-right text-danger"><span class="bg-danger">Offer</span></div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="ribbone ribbone-top-left text-success"><span class="bg-success">Update</span></div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card  sold-out">
									<div class="ribbone ribbone-top-right text-warning"><span class="bg-warning">Open</span></div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
						</div>
						<!-- END ROW -->

						<!-- ROW -->
						<div class="row">
							<div class="mb-4 fs-16 font-weight-semibold">Ribbons-style-3</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="arrow-ribbone-left bg-secondary">Sale</div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="arrow-ribbone-right bg-info">Price</div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="arrow-ribbone-left bg-warning">Service</div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card ribbone-card">
									<div class="arrow-ribbone-right bg-teal">Offer</div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
						</div>
						<!-- END ROW -->

						<!-- ROW -->
						<div class="row">
							<div class="mb-4 fs-16 font-weight-semibold">Ribbons-style-4</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card">
									<span class="ribbone-success-left">
										<span><i class="fe fe-zap"></i></span>
									</span>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card">
									<span class="ribbone-warning-right">
										<span>offer</span>
									</span>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card">
									<span class="ribbone-info-left">
										<span><i class="fe fe-zap"></i></span>
									</span>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card">
									<span class="ribbone-danger-right">
										<span><i class="fe fe-zap"></i></span>
									</span>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
						</div>
						<!-- END ROW -->

						<!-- ROW -->
						<div class="row">
							<div class="mb-4 fs-16 font-weight-semibold">Ribbons-style-5</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card">
									<span class="bookmark-ribbone-danger-left">
										<span>Offer</span>
									</span>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card">
									<span class="bookmark-ribbone-secondary-right">
										<span><i class="fe fe-zap"></i></span>
									</span>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card">
									<span class="bookmark-sideleft-ribbone-success-left">
										<span><i class="fe fe-zap"></i></span>
									</span>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<div class="card">
									<span class="bookmark-sideright-ribbone-primary-right">
										<span>Sold out</span>
									</span>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
						</div>
						<!-- END ROW -->

						<!-- Row-->
						<div class="row">
                            <h5 class="fw-semibold mb-4">Ribbon Style 6</h5>
							<div class="col-xxl-2 col-md-4 mx-0 mx-md-7  px-6 px-md-0 ">
								<div class="card">
									<div class="fullwidth-secondary-ribbons">
                                        <div class="bar">
                                            CSS Ribbon
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                          </div>
									</div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xxl-2 col-md-4 mx-0 mx-md-7  px-6 px-md-0 ">
								<div class="card">
									<div class="fullwidth-warning-ribbons">
                                        <div class="bar">
                                            CSS Ribbon
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                          </div>
									</div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xxl-2 col-md-4 mx-0 mx-md-7  px-6 px-md-0 ">
								<div class="card">
									<div class="fullwidth-primary-ribbons">
                                        <div class="bar">
                                            CSS Ribbon
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                          </div>
									</div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
							<div class="col-xxl-2 col-md-4 mx-0 mx-md-7  px-6 px-md-0 ">
								<div class="card">
									<div class="fullwidth-success-ribbons">
                                        <div class="bar">
                                            CSS Ribbon
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                          </div>
									</div>
									<div class="card-body  p-6">
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
									</div>
								</div>
							</div>
						</div>
						<!-- END ROW -->
        {% endblock %}

		{% block modal %}
			
        {% endblock %}
		
    {% block scripts %}
		<!-- STAR RATING JS -->
        <script src="{% static 'assets/plugins/rating/jquery-rate-picker.js'%}"></script>
		<script src="{% static 'assets/plugins/rating/rating-picker.js'%}"></script>

		<!-- STAR RATING-1 JS -->
		<script src="{% static 'assets/plugins/ratings-2/jquery.star-rating.js'%}"></script>
		<script src="{% static 'assets/plugins/ratings-2/star-rating.js'%}"></script>

        <!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
	{% endblock %}